.header-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 1em;
  align-items: center;
  max-width: 800px;
  width: 100%;
}

@media (max-width: 700px) {
  .header-container {
    width: 350px;
    padding: 0 0.4em;
  }

  .titles-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 4em;
    font-size: 1.2em;
  }

  .header-pic {
    border-radius: 16px;
    margin-right: 0.5em;
    width: 100px;
    height: 100px;
  }
}

.titles-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 4em;
  font-size: 1.2em;
}

.header-pic {
  border-radius: 16px;

  width: 120px;
  height: 120px;
}
